$light-color: #f4f6f4;
$dark-color: #281e30;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: $light-color;
}

body {
    height: 98vh;
    padding: 25px;
    color: $light-color;
    background-color: $dark-color;
    font-family: 'Oswald', sans-serif;

    .wrapper {
        
        height: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 10% 80%;
        grid-template-areas: 
            "c c c c c"
            "i1 i2 i3 i4 i5";

        .images {
            min-width: 100%;
            text-align: center;

            @for $i from 1 to 6 {
                &:nth-child(#{$i}) {
                    grid-area: i#{$i};
                }
            }

            img {
                height: 100%;
            }
        }

        .cards-container {
            grid-area: c;
            height: 100%;

            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: min-content;

            .heads {
                display: grid;
                grid-template-columns: repeat(5, 1fr);

                .head-card {
                    padding: 0 30px;
                }
            }

            .details {
                width: 100%;
                
                .details-card {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
                    grid-template-rows: 1fr;

                    .d {
                        padding: 30px;
                    }
                }
            }
        }
    }
}