// TODO Make font-sizes responsive

// -- Colors
$black: #000000;
$red: #ff4a4a;
$white: #ffffff;
$blue: #0077b6;

// -- Reset
* {
    margin: 0;
    padding: 0;
    outline: none;
}

// ! DESKTOP STYLES (mostly)

// -- Design lines - Big
.big-lines {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    opacity: 0.25;
}

.carousel {
    display: none; // : Carousel is hidden on desktop sizes (screen width > 991px)
}

body {

    height: 70vh; // : To align-center wrapper
    max-width: 100vw; // : To avoid content overflow

    margin: 15vh 0;

    // -- check
    ////background: rgba(60, 20, 70, 0.3);
    ////border: 1px solid rgb(60, 20, 70);

    //: center align wrapper
    display: flex;
    justify-content: center;
    align-items: center;

    // -- font properties

    font-family: 'Montserrat',
        Helvetica,
        Arial,
        sans-serif;
    font-size: 18px;

    h1 {
        font-family: 'Oswald',
            Helvetica,
            Arial,
            sans-serif;
        font-size: 30px;
    }

    h3 {
        font-family: 'Oswald',
            Helvetica,
            Arial,
            sans-serif;
        font-size: 21px;
    }

    // -- font properties END

    .wrapper {

        width: 100vw;
        margin: 0 10vh;
        ////overflow: hidden;

        // -- check
        ////background: rgba(60, 30, 50, 0.3);
        ////border: 1px solid rgba(60, 30, 50, 1);

        // : layout for desktop
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        ////align-items: center;
        justify-content: center;

        // : Pictures
        .images {
            max-width: 100%;
            text-align: center;

            // -- check
            ////background: rgba(30, 30, 50, 0.3);
            ////border: 1px solid rgba(30, 30, 50, 1);

            img {
                max-height: 70vh;
                max-width: 100%;
            }

        }

        // : menu
        .cards-container {

            height: 70vh; // -- to make height equal to pics

            // : to stack menu items vertically
            display: flex;
            flex-direction: column;

            .card {

                // : to make the cards take up all the height available and distribute equally
                flex: 1;

                // -- to avoid overflow
                box-sizing: border-box;
                overflow: hidden;

                // : for design components
                position: relative;

                // -- styles
                padding: 0 20px;
                height: 20%;
                background: $black;
                color: $white;
                border: 1px solid $white;

                // : to align header and details and give them appropriate heights
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto auto;
                grid-auto-rows: min-content; // -- makes sure auto takes up only as much height as is required

                // -- check 
                // //background-color: wheat;

                .head {
                    display: flex; // -- to make title and icon show up in the same row
                    align-items: center;

                    z-index: 1;

                    // -- check
                    ////background-color: goldenrod;

                    .title {
                        flex: 4;

                        // -- check
                        ////background-color: greenyellow;
                    }

                    .icon {
                        flex: 1;
                        text-align: right;

                        color: $red;
                    }
                }

                // : initially all details are hidden
                .details {
                    z-index: 1;
                    height: 0;
                    font-size: 0;
                    padding: 0;
                    margin: 0;
                    opacity: 0;
                }

                // : design lines
                .small-lines {
                    position: absolute;
                    z-index: 0;
                    bottom: -40%;
                    left: -30%;
                    transform: scale(0.75);
                }
            }

        }

    }

}

// ! TABLET STYLES

@media screen and (max-width: 992px) {

    // -- Design lines - Big
    .big-lines {
        position: absolute;
        z-index: -1;
        bottom: -20%;
        left: -40%;
        opacity: 0.25;
    }

    //: normal images are hidden in tablet mode and instead, carousel comes up
    .images {
        display: none;
    }

    .carousel {
        display: block;
    }

    body {

        font-size: 16px;

        h1 {
            font-size: 23px;
        }

        h3 {
            font-size: 18px;
        }

        height: 100vh; // : To align-center wrapper
        max-width: 100vw; // : To avoid content overflow
        overflow: hidden;

        margin: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        // -- Check
        ////background: rgb(197, 108, 108);

        .wrapper {

            height: 90vh;
            width: 80vw;

            margin: 5vh 10vh;

            // -- Check
            ////background-color: rgb(134, 177, 65);

            // : Layout for tablets and mobiles
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            // : Menu
            .cards-container {

                height: 30%;
                min-width: 60%;
                margin: 0 auto 5vh auto;

                // -- check
                ////border: 1px solid chocolate;

                .card {

                    .small-lines {
                        transform: scale(0.5);
                        bottom: 100%;
                        left: 0;
                        right: 0;
                        top: 0;
                    }
                }
            }

            .carousel {
                // -- check
                ////background-color: lightcoral;

                height: calc(70% - 5vh);
                width: 60%;
                margin: 0 auto;
                position: relative;

                .carousel__track-container {
                    height: 100%;
                    width: 100%;
                    position: relative;
                    overflow: hidden;

                    // -- check
                    ////background-color: darkolivegreen;

                    .carousel__track {
                        list-style: none;
                        height: 100%;
                        width: 100%;
                        position: relative;

                        transition: transform 500ms ease-in-out;

                        // -- check 
                        ////background-color: darkorchid;

                        .carousel__slide {

                            height: 100%;
                            width: 100%;
                            opacity: 0;
                            transition: opacity 400ms ease-in-out;

                            &.current__slide {
                                opacity: 1;
                            }

                            // -- check
                            ////background-color: deeppink;

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            position: absolute;
                            top: 0;
                            bottom: 0;

                            .carousel__image {
                                max-height: calc(0.7 * 90vh - 5vh);
                            }

                        }
                    }
                }

                .carousel__button {

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    // -- button properties
                    cursor: pointer;

                    &:focus {
                        box-shadow: 0 1px 2px -1px $red;
                    }

                    // -- general positioning
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%); // -- to middle it perfectly

                    // -- removing default button styles
                    border: none;
                    background-color: transparent;

                    // -- increasing the size and changing color
                    font-size: 30px;
                    color: $red;

                    // : positioning
                    &--left {
                        left: 0;
                    }

                    &--right {
                        right: 0;
                        z-index: 1;
                    }

                    &.is-hidden {
                        display: none;
                    }
                }

                .carousel__nav {
                    // -- check
                    ////background-color: pink;

                    padding-top: 10px;
                    padding-left: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .carousel__indicator {
                        border: 0;
                        background-color: rgba(0, 0, 0, 0.3);
                        width: 20px;
                        height: 5px;
                        margin: 0 2px;
                        cursor: pointer;
                        z-index: 1;
                        transition: all 250ms ease-in-out;

                        &.current__slide {
                            background-color: $red;
                        }
                    }
                }
            }
        }
    }
}
