// -- Colors
$black: #000000;
$red: #ff4a4a;
$white: #ffffff;

// -- Reset
* {
    margin: 0;
    padding: 0;
    // //box-sizing: border-box;
}

.carousel {
    display: none;      // : Carousel is hidden on desktop sizes (screen width > 991px)
}

body {

    height: calc(100vh - 200px);  // : To align-center wrapper
    max-width: 100vw;  // : To avoid content overflow

    margin: 100px 0;

    // -- check
    background: rgba(60, 20, 70, 0.3);
    border: 1px solid rgb(60, 20, 70);

    //: center align wrapper
    display: flex;
    justify-content: center;
    align-items: center;

    // -- font properties
    font-family: 'Montserrat',
        Helvetica,
        Arial,
        sans-serif;
    font-size: 18px;

    h1 {
        font-family: 'Oswald',
            Helvetica,
            Arial,
            sans-serif;
        font-size: 30px;
    }

    h3 {
        font-family: 'Oswald',
            Helvetica,
            Arial,
            sans-serif;
        font-size: 21px;
    }
    // -- font properties END

    .wrapper {

        width: 100vw;
        height: 100%;
        margin: 50px;
        overflow: hidden;

        // -- check
        
        
        // : layout for desktop
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        // //align-items: center;

        .images {
            width: 100%;

            img {
                max-width: calc((100vw - 100px)/6);
            }

        }

    }

}
